	body{
		background-color: blue;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		}
	
	.image{
		width: 300px;
		height: 250px;
		display: block; 
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 0;
		}
		
	h1{
		font-size: 25px;
		font-style: italic;
		text-decoration: underline;
		text-align: center
		}
		
	.section1{
		background-color: black;
		background-image: url("bg1.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-color: skyblue;
		border-style: solid;
		border-width: 3px
		}
	.section1 h2{
		font-size: 35px;
		text-align: center;
		text-decoration: underline
		}
	.section1 p{
		color: beige;
		font-size: 25px;
		margin: 0
		}
	
	.section1 ul{
		text-align: center;
		color: beige;
		}

	.section2{
		background-color: beige;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-color: skyblue;
		border-style: solid;
		border-width: 3px
		}
